*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background-color: #f0f4f8;

}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


.brand-text {
  font-size: 1.25rem;  
  font-weight: 600;      
  color: #38b6ff;     
 font-family: "Nunito", sans-serif;
}

.navbar{
 
  background: hsl(0, 0%, 100%);
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01);
}

@media (max-width: 576px) {
  .navbar {
    padding: 0.5rem;
  }
}

.navbar::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(1.0) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(
    to left,
    #00d4ff,
    #0096ff,
    #006eff,
    #0047ff,
    #001eff,
    #0047ff,
    #006eff,
    #0096ff,
    #00d4ff
  );
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;
}


@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}


.lead{
  color: #004aad;
  font-family: "Nunito", sans-serif;
}







